body.edo {
           font-family: verdana, arial, helvetica, sans-serif;
           font-size:   16pt;
           line-height: 22px;
           color: #3c1f00;
           background-color: #fff0ac;
           background-image: url(/images/curls-bg.png);
           background-repeat: repeat-y;
           background-position: center top;
           margin: 0;
           }

.main-content { margin-top: 20px; }
.intro-text { margin-top: 20px; }

.button, .edo input.button { 
          width: 200px;
          height: 50px;
          }

/* These images were made here:
   http://dabuttonfactory.com/#t=Visit%20a%20game&f=DejaVuSansCondensed&ts=24&tc=ffffff&tshs=1&tshc=222222&it=png&c=5&bgt=gradient&bgc=dd6f00&ebgc=733b04&w=200&h=50
*/
#start-button { background-image: url(/images/start_button.png); }
#visit-button { background-image: url(/images/visit_button.png); }

input[type="text"],
input[type="password"] {
                         vertical-align: middle;
                         line-height: 32px;
                         font-size: 22px;
                         height: 32px;
                         webkit-border-radius: 10px;
                         moz-border-radius: 10px;
                         border: 1px solid #db6f00;
                         padding: 5px;
                         }

.field { height: 44px; }

.field label { 
               float: right;
               line-height: 32px;
               padding-top: 6px; /* One extra for not having a border */
               }

.edo input { width: 95%; }

.explanation { 
               color: #db6f00;
               font-size: 12px;
               font-style: italic;
               }

/**************************************************/

.game { 
        height: 48px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        background-color: white;
        border: 1px solid #db6f00;
        padding-top: 5px;
        padding-bottom: 5px;
        position: relative;
        margin-bottom: 10px;
        }

.game .lock,
.game .name,
.game .activity,
.game .visit-link
{ 
  display: inline;
  vertical-align: middle;
  line-height: 48px;
  }

.game .visit-link {
                    float: right;
                    margin-right: 10px;
                    }

.game .lock { 
              position: absolute;
              width: 32px;
              height: 32px;
              top: 12px;
              background-image: url(/images/lock.png);
              }

.game .activity { 
                  color: #db6f00;
                  font-size: 16pt;
                  font-style: italic;                  
                  float: right;
                  margin-right: 20px;
                  }

.game .name { 
              margin-left: 34px;
              }

input[type='image'] { margin-top: 20px; }

/**************************************************/

.centered { text-align: center; }

.stone-container { 
                   webkit-border-radius: 10px;
                   moz-border-radius: 10px;
                   border-radius: 10px;
                   background-color: white;
                   padding-top: 10px;
                   padding-bottom: 10px;
                   }

.stone-container h2 { text-align: center; }

.stone-images {
                width: 100%;
                text-align: center;
                margin-bottom: 20px;
                min-height: 94px;
                }

.stone-images img { display: inline; }

.turn-steps {
              margin-left: 10px;
              margin-right: 10px;
              }

.align-center { text-align: center; }