body, html { height: 100%; }
body {
       font-family: verdana, arial, helvetica, sans-serif;
       font-size:   16pt;
       line-height: 22px;
       color: #3c1f00;
       background-color: #fff0ac;
       margin: 0;
       }

#main {
        width:760px;
        position:absolute;
        left:50%;
        margin-left: -400px;
        padding: 20px;
        padding-top: 0;
        min-height: 100%;
        }

.curls {
         width: 100px;
         position:absolute;
         top: 0;
         height: 100%;
         left: 50%;
         background-repeat: both;
         }

#curls-l { background-image: url(/images/curls-l.png); margin-left: -500px; }
#curls-r { background-image: url(/images/curls-r.png); margin-left: 400px; }

.buttons { 
           width: 480px;
           height: 70px;
           position: absolute;
           left: 50%;
           margin-left: -240px;
           }

.button { 
          width: 200px;
          height: 50px;
          margin: 10px;
          float: left;
          display: inline;
          }

/* These images were made here:
   http://dabuttonfactory.com/#t=Visit%20a%20game&f=DejaVuSansCondensed&ts=24&tc=ffffff&tshs=1&tshc=222222&it=png&c=5&bgt=gradient&bgc=dd6f00&ebgc=733b04&w=200&h=50
*/
#start-button { background-image: url(/images/start_button.png); }
#visit-button { background-image: url(/images/visit_button.png); }

input[type="text"], input[type="password"] {
                                             vertical-align: middle;
                                             line-height: 32px;
                                             font-size: 22px;
                                             width: 300px;
                                             height: 32px;
                                             -webkit-border-radius: 10px;
                                             -moz-border-radius: 10px;
                                             border: 1px solid #db6f00;
                                             padding: 5px;
                                             }

li label {
           margin-right: 10px;
           vertical-align: middle;
           }

ol, ul { list-style: none; }
fieldset { border:none; }
ol li input { float: right; }
ol li {
        clear: both;
        width: 600px;
        margin-top: 20px;
        }

.explanation { 
               color: #db6f00;
               font-size: 12px;
               font-style: italic;
               margin-top: 20px;
               }

ul { padding-left: 0; }

.game-list li.game { 
                     width: 100%;
                     height: 48px;
                     -webkit-border-radius: 10px;
                     -moz-border-radius: 10px;
                     background-color: white;
                     border: 1px solid #db6f00;
                     padding: 5px;
                     position: relative;
                     margin-bottom: 10px;
                     }

ul.game-list .lock, ul.game-list .name, ul.game-list .activity, ul.game-list .visit-link
{ 
  display: inline;
  vertical-align: middle;
  line-height: 48px;
 }

.game .visit-link {
                    float: right;
                    margin-right: 10px;
                    }

.game .lock { 
              position: absolute;
              width: 32px;
              height: 32px;
              top: 12px;
              background-image: url(/images/lock.png);
              }

.game .activity { 
                  color: #db6f00;
                  font-size: 16pt;
                  font-style: italic;                  
                  float: right;
                  margin-right: 20px;
                  }

.game .name { 
              margin-left: 34px;
              }

input[type='image'] { margin-top: 20px; }