%p.turn-steps
  You will write a sentence about rescuing someone, (using a goal word if you like).
%p.turn-steps
  Then the Troublemakers will write a sentence about you getting into trouble (using a goal word if they like).