%p.turn-steps
  The Troublemakers will write a sentence about you getting into trouble (using a goal word if they like).
%p.turn-steps
  Then, you will write a sentence about you getting out of trouble.
