%h1 Electronic Do
%small
  %em For geographically-dispersed pilgrims

  %p
    Welcome to Electronic Do! This is a tool to keep track of a game called
    = link_to "Do: Pilgrims of the Flying Temple", "http://danielsolisblog.blogspot.com/2007/08/do-pilgrims-of-flying-temple.html"
    (by Daniel Solis) online. It's not associated with the game or its creator in any way, we just needed a tool so I wrote one.

  %p
    From here, you can start a new game, or visit a game that's running:

  .buttons
    .button#start-button{:href => "/"}
    .button#visit-button{:href => "/"}
