%h1 Private game

- if @wrong_password
  .grid_8.prefix_2.suffix_2.alpha.omega
    #error_explanation
      %h2 Sorry, wrong password

.grid_8.prefix_2.suffix_2.alpha.omega
  Verify that you are a player by entering the password:

.grid_12.alpha.omega{:style => "height: 16px;"}

= form_tag game_path(@game), :method => 'GET' do |f|
  .grid_8.prefix_2.suffix_2.alpha.omega= password_field_tag 'p'

  .grid_4.prefix_4.suffix_4.alpha.omega
    .button
      %input{:type => 'image', :src => "/images/let_me_in.png"}

.grid_12.alpha.omega{:style => "height: 32px;"}
.grid_2.alpha= link_to "Game list", games_path
