%h1 Private game
- unless flash[:error].blank?
  #error_explanation
    %h2= flash[:error]

Verify that you are a player by entering the password:

= form_tag game_path(@game), :method => 'GET' do |f|
  %br
  = text_field_tag 'p'
  %br

  %input{:type => 'image', :src => "/images/let_me_in.png"}
  = link_to "Game list", games_path
